/*--------------- Global ---------------*/

* {
  font-family: "Alice", serif;
}

body {
  display: flex;
  justify-content: center;
  height: 1700px;
}

#bloc-page {
  display: flex;
  width: 75%;
}

/*--------------- Liseré ---------------*/

#lisere {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #0b9499;
}

/*--------------- Partie de gauche ---------------*/

/*--------------- Photo ---------------*/

#autour-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.photo {
  width: 220px;
  height: 220px;
}

#photo-responsive {
  display: none;
}

/*--------------- Informations ---------------*/

.lisere-titre {
  text-align: center;
  color: #0b9499;
  font-size: 2.2em;
  background-color: #656363;
  padding: 8px 0;
  text-transform: uppercase;
}

/*--------------- Contact ---------------*/

#contact {
  display: flex;
  flex-direction: column;
  flex: 4;
}

#contact a:hover {
  color: #bc0909;
}

.mail,
#url {
  text-decoration: none;
  color: #bc0909;
}

#liste {
  display: flex;
  flex-direction: column;
}
#liste li {
  list-style: none;
}

ul li:first-child {
  font-size: 1.3em;
  font-weight: 500;
}

/*--------------- A propos de moi ---------------*/

#about-me {
  display: flex;
  flex-direction: column;
  flex: 5;
}

#about-me p {
  display: flex;
  text-align: justify;
  align-self: center;
  width: 80%;
}

/*--------------- Loisirs ---------------*/

#loisirs {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.icone {
  display: flex;
  justify-content: center;
}

.icone i {
  border: 2px solid black;
  border-radius: 50%;
  padding: 15px;
}

.icone a {
  color: #000;
  width: 25%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.icone a:hover {
  color: #bc0909;
}

/*--------------- Partie de droite ---------------*/

/*--------------- Conteneur ---------------*/

#conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
}

/*--------------- Icone principale ---------------*/

.icone-principale {
  width: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rond {
  border: 2px solid #0b9499;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.rond-interne {
  border: 1px solid #0b9499;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background: #0b9499;
  transform: translate(70%, 70%);
}

/*--------------- Icone secondaire ---------------*/

.rond-puce {
  border: 1px solid #0b9499;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background: #0b9499;
}

/*--------------- Nom ---------------*/

#id {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

#id h1,
#id h2 {
  margin: 0;
}

#nom {
  font-size: 4em;
}

#nom span {
  color: #0b9499;
}

#profession {
  font-size: 2em;
}

#sous_titre {
  color: #000;
  border-bottom: 2px solid #0b9499;
  padding-bottom: 1px;
  background-color: #ffffff;
}

/*--------------- Ensemble ---------------*/

.titre-droite {
  font-size: 2.5em;
  border-bottom: 2px solid #0b9499;
  text-transform: uppercase;
}

.informations {
  display: flex;
  margin-bottom: 30px;
}

.informations-gauche {
  flex: 1;
}

.informations-droite {
  flex: 2;
}

.informations-droite p,
.informations-gauche p {
  margin: 0;
}

.informations-droite a {
  font-size: 1.5em;
  font-weight: bold;
}

.icone-principale,
.icone-secondaire {
  flex: 0.2;
}

.icone-principale,
.pro {
  text-decoration: none;
  color: #0b9499;
}

/*--------------- Formation ---------------*/

#formation {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

/*--------------- Expérience ---------------*/

#experience {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

/*--------------- Recommandations ---------------*/

#recommandations {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

#reco {
  display: flex;
  flex-direction: row;
}

#reco-gauche {
  flex: 4;
}

#reco-droite {
  flex: 3;
}

#reco-gauche p,
#reco-droite p {
  margin: 0;
}

/*--------------- Media Queries ---------------*/

@media screen and (max-width: 1440px) {
  /*--------------- Général ---------------*/

  #bloc-page {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  body {
    height: 0px;
  }

  /*--------------- Partie de gauche ---------------*/

  /*--------------- Liseré ---------------*/

  #lisere {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
  }

  .lisere-titre {
    width: 100%;
  }

  /*--------------- Photo ---------------*/

  #autour-photo {
    display: none;
  }

  /*--------------- Contact ---------------*/

  /*--------------- A propos de moi ---------------*/

  /*--------------- Loisirs ---------------*/

  /*--------------- Partie de droite ---------------*/

  /*--------------- Conteneur ---------------*/

  #conteneur {
    width: 100%;
    order: 1;
  }

  #conteneur section {
    width: 100%;
  }

  /*--------------- Ensemble ---------------*/

  .titre-droite {
    font-size: 1.6em;
    border-bottom: 2px solid #0b9499;
    text-transform: uppercase;
    text-align: center;
  }

  .informations-droite a {
    font-size: 1.2em;
    font-weight: bold;
  }

  /*--------------- Nom ---------------*/
  #photo-responsive {
    display: initial;
  }

  #id {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #nom {
    font-size: 2.2em;
    display: flex;
  }

  #profession {
    font-size: 1.4em;
  }

  /*--------------- Formation ---------------*/

  #formation {
    flex: 1;
  }

  /*--------------- Expérience ---------------*/

  #experience {
    flex: 2;
  }

  /*--------------- Recommandations ---------------*/

  #reco {
    display: flex;
    flex-direction: column;
  }

  #reco-droite {
    flex: 1 0 120px;
  }

  #reco-gauche {
    flex: 1 0 120px;
  }
}
