/*--------------- Global ---------------*/

* {
  font-family: "Alice", serif;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 1800px;
}

#bloc-page {
  display: flex;
  width: 70%;
}

/*--------------- Liseré ---------------*/

#lisere {
  width: 33%;
  display: flex;
  flex-direction: column;
  background-color: #0b9499;
}

/*--------------- Partie de gauche ---------------*/

/*--------------- Photo ---------------*/

#autour-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
}

#photo {
  width: 220px;
  height: 220px;
}

/*--------------- Informations ---------------*/

.lisere-titre {
  text-align: center;
  color: #0b9499;
  font-size: 2.2em;
  background-color: #656363;
  padding: 8px 0;
  text-transform: uppercase;
}

/*--------------- Contact ---------------*/

#contact {
  display: flex;
  flex-direction: column;
  flex: 5;
}

#contact p {
  padding: 40px 40px 0;
}

#contact a:first-child {
  color: #000;
}

#contact a:hover {
  color: #bc0909;
}

.mail,
#url {
  text-decoration: none;
  color: #bc0909;
}

/*--------------- A propos de moi ---------------*/

#about-me {
  display: flex;
  flex-direction: column;
  flex: 7;
}

#about-me p {
  text-align: justify;
  padding: 40px 40px 0;
}

/*--------------- Loisirs ---------------*/

#loisirs {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.icone {
  display: flex;
  justify-content: center;
}

.icone i {
  border: 2px solid black;
  border-radius: 50%;
  padding: 15px;
}

.icone a {
  color: #000;
  padding: 10px;
}

.icone a:hover {
  color: #bc0909;
}

/*--------------- Partie de droite ---------------*/

/*--------------- Conteneur ---------------*/

#conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0 80px 100px;
  width: 66%;
}

/*--------------- Icone principale ---------------*/

.icone-principale {
  width: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rond {
  border: 2px solid #0b9499;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.rond-interne {
  border: 1px solid #0b9499;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background: #0b9499;
  transform: translate(70%, 70%);
}

/*--------------- Icone secondaire ---------------*/

.icone-secondaire {
  width: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rond-puce {
  border: 1px solid #0b9499;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background: #0b9499;
}

/*--------------- Nom ---------------*/

#id {
  height: 10%;
  display: flex;
  flex-direction: column;
}

#nom {
  font-size: 4em;
}

#nom span {
  color: #0b9499;
}

#profession {
  font-size: 2em;
}

#sous_titre {
  color: #000;
  border-bottom: 2px solid #0b9499;
  padding-bottom: 1px;
  background-color: #ffffff;
}

/*--------------- Ensemble ---------------*/

.titre-droite {
  font-size: 2.5em;
  padding-bottom: 20px;
  border-bottom: 2px solid #0b9499;
  text-transform: uppercase;
}

.informations {
  display: flex;
  padding-top: 20px;
}

.informations-gauche {
  flex: 1;
}

.informations-droite {
  flex: 2;
}

.informations-droite a {
  font-size: 1.5em;
  font-weight: bold;
}

.icone-principale,
.icone-secondaire {
  flex: 0.2;
}

.icone-principale,
.pro {
  text-decoration: none;
  color: #0b9499;
}

/*--------------- Formation ---------------*/

#formation {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*--------------- Expérience ---------------*/

#experience {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*--------------- Recommandations ---------------*/

#reco {
  height: 10%;
  display: flex;
  padding-top: 20px;
}

#reco-gauche {
  flex: 4;
}

#reco-droite {
  flex: 3;
}

/*--------------- Media Queries ---------------*/
