/* Global */
* {
  font-family: "Alice", serif;
}

#bloc-page {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
}

h2 {
  text-transform: uppercase;
}

/* lisere */
#lisere {
  background-color: #0b9499;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

/* Partie de gauche */

/* Photo */
#photo {
  text-align: center;
  text-decoration: none;
}

#photo-mini {
  width: 380px;
  height: 300px;
}

.lisere-titre {
  text-align: center;
  color: #0b9499;
  font-size: 2.2em;
  background-color: #656363;
  padding: 8px 0;
}

#contact p,
#about_me p {
  margin-left: 40px;
  margin-right: 40px;
}

#contact,
#about_me {
  margin-bottom: 100px;
}

#contact,
#about-me,
#loisirs {
  display: flex;
  flex-direction: column;
  align-content: center;
}
#about_me p {
  text-align: justify;
}

#loisirs {
  margin: 550px 0 50px 0;
}

#contact a:first-child {
  color: #000;
}

#contact a:hover {
  color: #bc0909;
}

.mail,
#url {
  text-decoration: none;
  color: #bc0909;
}

.icone {
  display: flex;
  justify-content: center;
}

.icone i {
  border: 2px solid black;
  border-radius: 50%;
  padding: 15px;
  margin: 0 5px;
}

.icone a {
  color: #000;
}

.icone a:hover {
  color: #bc0909;
}

/* Partie de droite */

/* Conteneur */
#conteneur {
  margin-left: 80px;
}

/* Nom */
span {
  color: #0b9499;
}

#id h1 {
  font-size: 4em;
  margin: 100px 0 0;
}

#id p {
  font-size: 2em;
  margin: 0 0 100px;
}

#sous_titre {
  color: #000;
  border-bottom: 2px solid #0b9499;
  padding-bottom: 1px;
  background-color: white;
}

/* Autres */
#formation h2,
#experience h2,
#recommandations h2,
#loisirs-responsive h2 {
  font-size: 2.5em;
  padding-bottom: 15px;
  border-bottom: 2px solid #0b9499;
}

.informations-droite a {
  font-size: 1.5em;
  font-weight: bold;
}

#reco {
  display: flex;
  justify-content: space-around;
}

.pro {
  text-decoration: none;
  color: #0b9499;
}

.rond-puce {
  border: 1px solid #0b9499;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: #0b9499;
}

#loisirs-responsive {
  display: none;
}

.icone-principal {
  margin: 18px 20px 0 0;
}

.icone-secondaire {
  margin: 22px 20px 0 0;
}

/* Flexbox */
.informations {
  display: flex;
  margin-bottom: 50px;
}

.informations-gauche {
  flex: 1;
}

.informations-droite {
  flex: 2;
}

/* media queries */

@media screen and (max-width: 1024px) {
  #bloc-page {
    flex-direction: column;
    width: 100%;
  }

  #lisere {
    width: 100%;
  }

  #loisirs {
    display: none;
  }

  #id {
    display: none;
  }

  #reco {
    flex-direction: column;
  }

  #photo::before {
    content: "DAVID TAVARES";
    color: #000;
    font-family: "Alice", serif;
    text-align: center;
    color: #0b9499;
    font-size: 2.5em;
    background-color: #656363;
    display: flex;
    flex-direction: column;
  }

  #conteneur {
    margin-left: 0;
  }

  #loisirs-responsive {
    display: initial;
  }
}
